{% extends './base.html' %}

{% block content %}
<table class="table table-bordered text-center">
    <tbody>
        {% for row in models %}
            <tr>
                {% for model in row %}
                    <td>
                        <a href="{% url 'houses' %}" class="models-btn btn btn-block btn-default btn-lg">
                            {{ model }}
                        </a>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
    $('.models-btn').click(function(event) {
        $.ajax({
            url: 'http://127.0.0.1:8000/database/' + event.target.name + 's',
            method: 'GET',
            success: function (data) {
                console.log('success');
            },
            error: function (err) {
                console.log(err.responseText);
            }
         });
    });
</script>
{% endblock %}
