{% extends './base.html' %}

{% block content %}
<!-- Full featured table -->
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Houses for sales</h3>
    </div>

    <div class="box-body">
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_length" id="example1_length">
                        <label>
                            Show
                            <select name="example1_length" aria-controls="example1" class="form-control input-sm" id="per-page">
                                {% for value in per_page_values %}
                                    {% if value == houses.paginator.per_page %}
                                        <option value="{{ value }}" selected>
                                            {{ value }}
                                        </option>
                                    {% else %}
                                        <option value="{{ value }}">
                                            {{ value }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            entries
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="example1_filter" class="dataTables_filter">
                        <label>
                            Search:
                            <input type="search" class="form-control input-sm" placeholder="" aria-controls="example1">
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 283.2px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                    Title
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 355.533px;" aria-label="Browser: activate to sort column ascending">
                                    Price
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 305.133px;" aria-label="Platform(s): activate to sort column ascending">
                                    Rooms
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 245.95px;" aria-label="Engine version: activate to sort column ascending">
                                    Description
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181.183px;" aria-label="CSS grade: activate to sort column ascending">
                                    Link
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for house in houses.object_list %}
                                <tr role="row" class="odd">
                                    <td class="sorting_1">{{ house.title }}</td>
                                    <td>{{ house.price }}</td>
                                    <td>{{ house.rooms }}</td>
                                    <td>{{ house.description }}</td>
                                    <td>
                                        <a href="{{ house.url }}">
                                            {{ house.url }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                        <tfoot>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 283.2px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                    Title
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 355.533px;" aria-label="Browser: activate to sort column ascending">
                                    Price
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 305.133px;" aria-label="Platform(s): activate to sort column ascending">
                                    Rooms
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 245.95px;" aria-label="Engine version: activate to sort column ascending">
                                    Description
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 181.183px;" aria-label="CSS grade: activate to sort column ascending">
                                    Link
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5">
                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                        {{ houses.object_list|length }} results of {{ houses.paginator.count }}.
                    </div>
                </div>

                <div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                        <ul class="pagination">
                            {% if houses.has_previous %}
                                <li class="paginate_button previous" id="example1_previous">
                                    <a href="?page={{ houses.previous_page_number }}" aria-controls="example1" data-dt-idx="0" tabindex="0">
                                        Previous
                                    </a>
                                </li>
                            {% else %}
                                <li class="paginate_button previous disabled" id="example1_previous">
                                    <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">
                                        Previous
                                    </a>
                                </li>
                            {% endif %}

                            {% for index in houses.paginator.page_range %}
                                {% if index == houses.number %}
                                    <li class="paginate_button active">
                                        <a href="#" aria-controls="example1" data-dt-idx="{{ index }}" tabindex="0">
                                            {{ index }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="paginate_button">
                                        <a href="?page={{ index }}" aria-controls="example1" data-dt-idx="{{ index }}" tabindex="0">
                                            {{ index }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if houses.has_next %}
                                <li class="paginate_button next" id="example1_next">
                                    <a href="?page={{ houses.next_page_number }}" aria-controls="example1" data-dt-idx="{{ houses.number ]}" tabindex="0">
                                        Next
                                    </a>
                                </li>
                            {% else %}
                                <li class="paginate_button next disabled" id="example1_next">
                                    <a href="#" aria-controls="example1" data-dt-idx="{{ houses.number ]}" tabindex="0">
                                        Next
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
    $('#per-page').change(function(event) {

        function addArgument(path, argument) {
            if (!path) {
                return 'http://127.0.0.1:8000';
            }

            var i = path.indexOf('?');

            return (i !== -1 ? path.substr(0, i) : path) + '?per_page=' + argument;
        }

        /* Redirect to same database table but with a new 'per_page' size.
         * Go to first page must be force to avoid errors with page index.
         */
        location.href = addArgument(window.location.href, event.target.value);
    });
</script>
{% endblock %}
