{% extends './base.html' %}

{% block content %}
{% for spider in spiders_data %}
    <div class="box box-solid box-default collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">{{ spider.name }}</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>

        </div>

        <!--<div class="box-body">-->
            <!--The body of the box-->
        <!--</div>-->

        <div class="box-footer">
            <!--<button name="{{ spider.name }}" type="button" class="spider-btn btn btn-block btn-default">Default</button>-->
            {% if spider.status == 'running' %}
                <button name="{{ spider.name }}" type="button" class="spider-btn btn btn-block btn-danger">Stop</button>
            {% else %}
                <button name="{{ spider.name }}" type="button" class="spider-btn btn btn-block btn-success">Run</button>
            {% endif %}
            <!--<button name="{{ spider.name }}" type="button" class="spider-btn btn btn-block btn-warning">Warning</button>-->
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
    $('.spider-btn').click(function(event) {
        $.ajax({
            url: 'http://127.0.0.1:8000/api/crawl/',
            method: 'POST',
            data: {
                scraper: event.target.name,
            },
            success: function (data) {
                console.log('success');
            },
            error: function (err) {
                console.log(err.responseText);
            }
         });
    });
</script>
{% endblock %}
