{% extends 'adminlte/lib/_main_sidebar.html' %}

{% block nav_links %}
    <li>
        <a href="/">
            <i class="fa fa-dashboard"></i> <span>Home</span>
        </a>
    </li>
    <li>
        <a href="/database">
            <i class="fa fa-database"></i> <span>Database</span>
        </a>
    </li>
    <li>
        <a href="/scrapers">
            <i class="fa fa-list-ol"></i> <span>Scrapers</span>
        </a>
    </li>
{% endblock nav_links %}